<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxzy.mapper.TbDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.hxzy.pojo.TbDepartment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dt_name" property="dtName" jdbcType="VARCHAR" />
    <result column="dt_createTime" property="dtCreatetime" jdbcType="VARCHAR" />
    <result column="dt_bz" property="dtBz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, dt_name, dt_createTime, dt_bz
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hxzy.pojo.TbDepartmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hxzy.pojo.TbDepartmentExample" >
    delete from tb_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hxzy.pojo.TbDepartment" >
    insert into tb_department (id, dt_name, dt_createTime, 
      dt_bz)
    values (#{id,jdbcType=INTEGER}, #{dtName,jdbcType=VARCHAR}, #{dtCreatetime,jdbcType=VARCHAR}, 
      #{dtBz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hxzy.pojo.TbDepartment" >
    insert into tb_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dtName != null" >
        dt_name,
      </if>
      <if test="dtCreatetime != null" >
        dt_createTime,
      </if>
      <if test="dtBz != null" >
        dt_bz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dtName != null" >
        #{dtName,jdbcType=VARCHAR},
      </if>
      <if test="dtCreatetime != null" >
        #{dtCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="dtBz != null" >
        #{dtBz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hxzy.pojo.TbDepartmentExample" resultType="java.lang.Integer" >
    select count(*) from tb_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_department
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dtName != null" >
        dt_name = #{record.dtName,jdbcType=VARCHAR},
      </if>
      <if test="record.dtCreatetime != null" >
        dt_createTime = #{record.dtCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.dtBz != null" >
        dt_bz = #{record.dtBz,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_department
    set id = #{record.id,jdbcType=INTEGER},
      dt_name = #{record.dtName,jdbcType=VARCHAR},
      dt_createTime = #{record.dtCreatetime,jdbcType=VARCHAR},
      dt_bz = #{record.dtBz,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxzy.pojo.TbDepartment" >
    update tb_department
    <set >
      <if test="dtName != null" >
        dt_name = #{dtName,jdbcType=VARCHAR},
      </if>
      <if test="dtCreatetime != null" >
        dt_createTime = #{dtCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="dtBz != null" >
        dt_bz = #{dtBz,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxzy.pojo.TbDepartment" >
    update tb_department
    set dt_name = #{dtName,jdbcType=VARCHAR},
      dt_createTime = #{dtCreatetime,jdbcType=VARCHAR},
      dt_bz = #{dtBz,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>